<html>
    <h1>
        Cool Ghost Logo Goes Here
    </h1>
    <body>
        <p>If you have access to your .gci F-Zero GX ghost files, you can upload them to this page. Cool stuff bueno</p>
        <p>There are many things the analyzer can do:</p>
        <ul>
            <li>Check what time was achieved</li>
            <li>List the track, machine, and settings used</li>
            <li>Provide additional info it could glean from the file</li>
        </ul>
        <p>You might not find it very useful, but it can be handy for organizing your files, understanding what times are good, and expanding your understanding of your ghost.</p>
        <p>Upload your ghost here:</p>
        <input type="file" accept=".gci">
    </body>
</html>
